body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    width: 100%;
    overflow-x: hidden;
}

.aa {
    width: 100px;
    /* Ajusta a largura para 100% da tela */
    height: auto;
    /* Ajusta a altura automaticamente */
    display: flex;
    /* Utiliza flexbox para alinhar o conteúdo */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
}

.limonadaImg {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 0, 0.808);
}

a:hover {
    color: #019d4f;
}


.container {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.inicio {
    color: rgba(255, 255, 0, 0.808);
    font-weight: 600;
    font-size: 23px;
    margin-right: 30px;
    margin-left: 60px;
}

.botoes {
    color: #019d4f;
    font-weight: 600;
    font-size: 23px;
    margin-right: 30px;
    font-family: "Roboto", Sans-serif;
}

.botoes:hover {
    color: rgba(255, 255, 0, 0.808);
}

.grid {
    margin-top: 20px;
    width: 100%;
}

.engenheiroFoto {
    width: 100%;
    height: 700px;
    display: block;
}

.ftEngenheiro {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 700px;
    display: block;
}

.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.corzinha {
    background-color: rgba(0, 0, 0, 0.432);
    /*Cor de fundo com opacidade*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cursor {
    width: 25px;
    height: auto;
}

.cursorSaibaMais {
    background-color: #019d4f;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    /*Troca a cor do fundo*/
    transition: color 0.3s ease;
    /*troca a cor da letra*/
    cursor: pointer;
    /*Torna a div clicavél*/
    font-weight: 600;
    font-size: 23px;
    font-family: "Roboto", Sans-serif;
    /*Fonte das letras*/
    color: rgba(255, 255, 0, 0.808);
}

.cursorSaibaMais:hover {
    background-color: rgba(255, 255, 0, 0.808);
    color: rgb(16, 168, 16);
    transform: scale(1.1);
    transition: transform 1s ease;
}

.linhaAmarela {
    margin-top: 25px;
    margin-left: 20px;
    width: 950px;
    height: 30px;
}

.divNossosProjetos {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.nossosProjetos {
    color: #019d4f;
    font-weight: 1000;
    font-size: 25px;
    font-family: "Roboto", Sans-serif;
    /*Fonte das letras*/
    margin-left: 80px;
}

.predio {
    width: 250px;
    height: auto;
}

.divPredios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.predio1,
.predio2,
.predio3,
.predio4 {
    background-color: #ffc100;
    transition: transform 1s ease;
    /*Transição suave*/
}

.predio1:hover,
.predio2:hover,
.predio3:hover,
.predio4:hover {
    transform: scale(1.1);
    /*Coloca o zoom*/
}

.descricaoFoto,
.descricaoFoto2,
.descricaoFoto3,
.descricaoFoto4 {
    color: #019d4f;
    font-weight: 1000;
    font-size: 25px;
    font-family: "Roboto", Sans-serif;
    /*Fonte das letras*/
    text-align: center;
    height: 3px;
}

.descricaoFoto3 {
    font-size: 18px;
    margin-top: 40px;
}

.descricaoFoto4 {
    font-size: 18px;
}

.saibaMaisPredios,
.botaoSaibaMais {
    color: #ffc100;
    border-color: #019d4f;
    font-family: "Roboto", Sans-serif;
    font-weight: 800;
    background-color: #019d4f;
    border: #019d4f solid 10px;
    border-radius: 3px;
    cursor: pointer;
}

.divSaibaMaisPredios {
    text-align: center;
    margin-top: 30px;
}

.linhaAmarelaContato {
    margin-top: 25px;
    margin-left: 20px;
    width: 1035px;
    height: 30px;
}

.enderecoAmarelo {
    color: #ffc100;
    font-weight: 1000;
    font-size: 25px;
    font-family: "Roboto", Sans-serif;
    /*Fonte das letras*/
    margin-left: 80px;
    width: 370px;
    height: auto;
}

.enderecoVerde {
    color: #019d4f;
    font-family: "Roboto", Sans-serif;
    /*Fonte das letras*/
    font-weight: 1000;
    font-size: 20px;
    margin-left: 80px;
    width: 370px;
    height: auto;
}

#map {
    width: 530px;
    height: 300px;
}

.divContatos {
    display: block;
}

.contatos {
    display: flex;
    flex-direction: row;
}

.mapinha {
    margin-left: 50px;
}

.footerVerde {
    background-color: #019d4f;
    color: #ffc100;
    text-align: center;
    font-weight: 200;
    padding: 10px;
}

.footerAmarelo {
    background-color: #ffc100;
    padding: 16px;
    text-align: center;
}

.imagemFooter {
    width: 30px;
    height: auto;
    cursor: pointer;
    margin-right: 5px;
}


.canto-inferior-direito {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    width: 15px;
    height: auto;
    background-color: #019d4f;
    border-radius: 5px;
    padding: 10px;
}

.canto-inferior-esquerdo {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 60px;
    height: auto;
}

.imageUser {
    width: 35px;
    height: auto;
}

@media (max-width: 1283px) {

    a,
    .inicio,
    .botoes {
        font-size: 18px;
    }

    .imageUser {
        width: 30px;
    }

    .limonadaImg {
        width: 200px;
    }

    .container {
        margin-left: 50px;
    }

}

@media (max-width: 1089px) {

    a,
    .inicio,
    .botoes {
        font-size: 16px;
    }

    .imageUser {
        width: 25px;
    }

    .limonadaImg {
        width: 150px;
    }

    .container {
        margin-left: 40px;
    }

    .mapinha {
        margin-left: 0px;
    }

    #map {
        width: 450px;
        height: 200px;
    }
}

@media (max-width: 927px) {

    a,
    .inicio,
    .botoes {
        font-size: 14px;
    }

    .imageUser {
        width: 20px;
    }

    .container {
        margin-left: 30px;
        width: 100%;
    }

    .mapinha {
        margin-left: 0px;
    }

    #map {
        width: 300px;
        height: 150px;
    }

    .predio {
        width: 100%;
        height: auto;
    }

    .divPredios {
        gap: 10px;
    }

    .divNossosProjetos {
        margin-top: 0px;
    }

}

@media (max-width: 857px) {

    .limonadaImg {
        width: 100px;
        height: auto;
        margin-bottom: 0px;
    }

    a,
    .inicio,
    .botoes {
        font-size: 14px;
        margin-right: 10px;
    }

    .imageUser {
        width: 15px;
    }

    .container {
        margin-left: 30px;
        width: 100%;
    }

    .mapinha {
        margin-left: 0px;
    }

    #map {
        width: 300px;
        height: 150px;
    }

    .descricaoFoto,
    .descricaoFoto2,
    .descricaoFoto3,
    .descricaoFoto4 {
        font-size: 13px;
    }

    .predio {
        width: 100%;
        height: auto;
    }

    .divPredios {
        gap: 10px;
    }

    .divNossosProjetos {
        margin-top: 0px;
    }
}

@media (max-width: 700px) {
    .grid {
        display: flex;
        gap: 10px;
    }

    a,
    .inicio,
    .botoes {
        font-size: 14px;
        margin: 0px;
    }

    .texto-sobre-imagem {
        font-size: 24px;
    }

    .descricaoFoto,
    .descricaoFoto2,
    .descricaoFoto3,
    .descricaoFoto4 {
        font-size: 11px;
    }

    .descricaoFoto4 {
        font-size: 12px;
    }

    .enderecoVerde,
    .enderecoAmarelo {
        font-size: 16px;
        margin-left: 20px;
    }

    .enderecoAmarelo {
        margin-top: 0px;
    }

    .nossosProjetos {
        margin-left: 20px;
    }

    #map {
        width: 200px;
        height: 150px;
    }
}


@media (max-width: 605px) {

    .limonadaImg {
        width: 80px;
        height: auto;
        margin-bottom: 0px;
    }

    .engenheiroFoto {
        height: auto;
    }

    .texto-sobre-imagem {
        top: 50%;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.623);
    }

    .ftEngenheiro {
        height: 233px;
    }

    .corzinha {
        height: 0px;
    }

    .container {
        margin: 0px;
    }

    .grid {
        display: flex;
        gap: 5px;
    }

    a,
    .inicio,
    .botoes {
        font-size: 11px;
        margin: 0px;
    }

    .cursorSaibaMais {
        width: 150px;
        height: auto;
    }

    .descricaoFoto,
    .descricaoFoto2,
    .descricaoFoto3,
    .descricaoFoto4 {
        font-size: 8px;
    }

    .descricaoFoto4 {
        font-size: 12px;
    }

    .enderecoVerde,
    .enderecoAmarelo {
        font-size: 12px;
        margin-left: 20px;
        width: 200px;
    }

    .enderecoAmarelo {
        margin-top: 0px;
    }

    .nossosProjetos {
        margin-left: 20px;
    }

    #map {
        width: 190px;
        height: 150px;
    }
}